.viking-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 30px;
	list-style: none;
	border-bottom: $menu-border-width solid $menu-border-color;
	box-shadow: $menu-box-shadow;
	>.menu-item {
		padding: $menu-item-padding-y $menu-item-padding-x;
		cursor: pointer;
		transition: $menu-transition;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&.is-disabled {
			color: $menu-item-disabled-color;
			pointer-events: none;
			cursor: default;
		}
		&.is-active,
		&:hover {
			color: $menu-item-active-color;
			border-bottom: $menu-item-active-border-width solid
				$menu-item-active-color;
		}
    }
    .submenu-item {
        position: relative;

    // ====== 图标动画相关的 START ======
        .submenu-title {
        // 布局 让图标标题及图标垂直居中
          display: flex;
          align-items: center;
        }
        // 箭头图标
        .arrow-icon {
        // tansition过渡属性是不能继承的，必须添加到具体需要动画效果的元素上，transition可以指定自己的transform旋转的过度效果
          transition: transform .25s ease-in-out;
          margin-left: 3px;
        }
        &:hover {
          .arrow-icon {
            // transform属性
            transform: rotate(180deg);
          }
        }
      }
      // 上面的hover特例--垂直模式下图标不旋转
    .is-vertical {
        .arrow-icon {
          transform: rotate(0deg) !important;
        }
      }
      // 当点击事件后有展开状态时有的opened类名后，才加的旋转
    .is-vertical.is-opened {
        .arrow-icon {
          transform: rotate(180deg) !important;
        }
      }
    // ====== 图标相关的 END ======

    .viking-submenu {
        // opacity: 0;
        // transition: opacity .5s ease-in;
        //display: none;
        position: absolute;
        list-style:none;
        padding-left: 0;
        white-space: nowrap;
        //transition: $menu-transition;
        .menu-item {
          padding: $menu-item-padding-y $menu-item-padding-x;
          cursor: pointer;
          transition: $menu-transition;
          color: $body-color;
          &.is-active, &:hover {
            color: $menu-item-active-color !important;
          }
        }
      }
    .viking-submenu.menu-opened {
        //display: block;
        //opacity: 1;
      }
}
// 横向
.menu-horizontal {
    >.menu-item {
      border-bottom: $menu-item-active-border-width solid transparent;
    }
    .viking-submenu {
      position: absolute;
      background: $white;
      z-index: 100;
      top: calc(100% + 8px);
      left: 0;
      border: $menu-border-width solid $menu-border-color;
      box-shadow: $submenu-box-shadow;
    }
  }
// 下面是纵向的类名样式填充
.menu-vertical {
	flex-direction: column;
	border-bottom: 0px;
	border-right: $menu-item-active-border-width solid $menu-item-active-color;
	margin: 10px;
	>.menu-item {
		border-left: $menu-item-active-border-width solid transparent;
		&.is-active,
		&:hover {
			border-bottom: 0px;
			border-left: $menu-item-active-border-width solid
				$menu-item-active-color;
		}
	}
}
