.yanbrick-modal-portal.yanbrick-popconfirm {
  bottom: unset;
  left: unset;
  padding: 0;
  position: absolute;
  right: unset;
  top: unset;
  white-space: nowrap;
  .yanbrick-modal-viewport.yanbrick-popconfirm {
    display: block;
    margin: 0;
    min-width: unset;
    padding: 4px;
    position: unset;
    width: unset;
    .yanbrick-modal-title.yanbrick-popconfirm {
      font-size: $font-size-sm;
      >span {
        display: inline-block;
        margin-right: 20px;
      }
    }
    .yanbrick-modal-confirm.yanbrick-popconfirm {
      font-size: $font-size-sm;
      padding: 2px;
    }
  }
}
.yanbrick-popconfirm-wrapper {
  display: inline-block
}